
<h1><%= @user.name %></h1>

<p><%= @user.email %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li>
    <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  </li>
</ul>

<h2>Post</h2>
<% @user.posts.each do |post| %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= post.message %>
  </p>
<% end %>

<h2>Add a post:</h2>
<%= form_with model: [ @user, @user.posts.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :message %><br>
    <%= form.text_area :message %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>