<h1><%= @user.name %> (<%= @user.email %>)</h1>

<%= link_to "<button class='btn btn-warning'>Update User Details</button>".html_safe, edit_user_path(@user) %>

<%= link_to "<button class='btn btn-danger'>Delete User</button>".html_safe, @user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>

<h2>Posts</h2>
<% @user.posts.each do |post| %>
  <p>
    <%= link_to post.title, post %> &emsp; <%= link_to post.message, post %>
  </p>
<% end %>





<h2>Add a post:</h2>
<%= form_with model: [ @user, @user.posts.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :message %><br>
    <%= form.text_area :message %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>