
<%= form_with model: [ @user, @user.posts.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :message %><br>
    <%= form.text_area :message %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>