<h1><%= @post.title %></h1>

<p><%= @post.message %></p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li>
    <%= link_to "Delete", @post, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  </li>
</ul>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <%= link_to comment.commenter, comment %> &emsp; <%= link_to comment.body, comment %>
  </p>
<% end %>

<h2>Add a comment:</h2>

<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <div>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>